{{#each model as |vendor|}}
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/242x200" alt="...">
      <div class="caption">
        <h4>{{model.name}}</h4>
        <p>{{model.description}}</p>
        <p>{{model.address}}</p>
        <p>{{model.city}}</p>
        <p>{{model.state}}</p>
        <p>{{model.zip}}</p>
        <p>{{model.phone}}</p>
        <p>{{model.email}}</p>
      </div>
      <p class="pad-left">
        {{#link-to 's.vendors.vendor' vendor.id class="btn btn-primary"}}View{{/link-to}}
        <button class="btn rb-btn-info" {{action 'delete' vendor}}>delete</button>
      </p>
    </div>
  </div>
{{/each}}
